.bg,
.profile>div {
    background: #fff;
}

.pro {
    position: relative;
    padding: 2.5rem 1rem;
    background: #fff;
}

.pro .pro-head {
    position: absolute;
    top: 0.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: block;
    background: #ddd;
    overflow: hidden;
}

.pro .pro-to {
    position: relative;
    left: 5.5rem;
    margin-right: 6rem;
}

.pro .pro-to a {
    position: relative;
    display: block;
    font-size: 1.2rem;
    top: -0.5rem;
}

.pro .pro-to .r {
    position: absolute;
    right: 0;
    color: #999;
    margin-right: 1rem;
}

.pro .pro-to span {
    position: relative;
}

.uinfo .list a:last-child,
.nav .nav-row:last-child a {
    border-bottom: none;
}

.nav .nav-row a {
    font-size: 1.2rem;
    border-bottom: 1px solid #F6F6F9;
    border-left: 1px solid #F6F6F9;
    display: block;
    padding: .8rem 0;
}

.nav .nav-warp.flex .nav-icon {
    width: 3rem;
    margin: .5rem auto;
}

.nav .nav-warp.flex span {
    text-align: center;
}

.nav .two .nav-icon {
    width: 2rem;
    margin: .8rem .3rem;
    display: inline-block;
    position: relative;
}

.nav .two .nav-title span {
    display: inline-block;
}

.news>a.on:after,
.nav .nav-icon.hasmsg:after {
    content: '';
    position: absolute;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    left: 1.2rem;
    background: #FF6F5C;
}

.nav .nav-icon {
    width: 8rem;
    display: block;
    margin: 1rem;
}

.logo div {
    height: 5rem;
    width: 5rem;
    margin: 2rem auto;
}

.nav .nav-title {
    text-align: center;
}

.del .nav-title {
    margin-top: -.8rem;
}

.nav .nav-title span {
    display: block;
}

.nav .nav-name {
    margin: 1rem auto;
}

.nav .nav-sub {
    font-size: 1rem;
    color: #999;
    margin-top: -.8rem;
}

.uinfo .list {
    padding-left: 1.5rem;
}

.uinfo .list a {
    display: block;
    padding: 1.5rem 0;
    border-bottom: 1px solid #F6F6F9;
}

.list .arrows-right:before {
    right: 1.5rem;
    top: 1.8rem;
}

.uinfo .list label {
    position: absolute;
    right: 3rem;
    color: #999;
}

.wallet .mint-popup {
    position: absolute;
    color: #333;
    top: 0;
    background: inherit;
    bottom: auto;
    height: 100%;
    padding-top: 0;
}

.wallet .money {
    text-align: center;
    padding: 5rem 5rem 1rem;
}

.wallet .cover {
    margin-bottom: 1rem
}

.wallet .m-icon {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

.wallet .amount {
    font-size: 3rem;
}

.wallet .cover.box {
    margin: 2rem .3rem;
}

.wallet .arrows-right:before {
    top: 2.2rem;
    right: 2rem;
}

.wallet .unit {
    margin: .8rem 0;
    font-size: 1rem;
}

.wallet .mybank {
    padding: 1.5rem 1rem;
}

.wallet .back-logo {
    width: 18rem;
    height: 2rem;
}

.wallet .back-num {
    text-align: right;
    margin-right: 2.5rem;
    line-height: 2rem;
    color: #999;
}

.wallet .cover input {
    font-size: 1rem;
    text-align: left;
    margin: .3rem .5rem;
}

.wallet .bal {
    margin: 1rem;
}

.wallet .bal .w-all {
    color: #2791DA;
}

.wallet .bal>* {
    display: inline-block;
}

.wallet .cards .c-list {
    margin: auto;
}

.cards .c-list {
    margin: 1rem 0;
}

.cards .c-logo {
    position: absolute;
    width: 8rem;
    height: 2rem;
    display: inline-block;
}

.cards .edit-card:after {
    content: '';
    position: absolute;
    background: url('../images/my/edit1-1.png') no-repeat;
    background-size: cover;
    height: 2.5rem;
    width: 2.5rem;
    top: 0;
    right: 0;
}

.cards .edit-card.on:after {
    background: url('../images/my/edit1.png') no-repeat;
    background-size: cover;
}

.cards .c-info {
    position: relative;
    line-height: 2rem;
    left: 9rem;
    text-align: left;
}

.page.s-cards .card {
    margin: 0;
    padding: 2rem 1rem;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 1px;
}

.cards .card {
    position: relative;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    color: #999;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}

.news>a {
    padding: 1rem;
    margin-bottom: 1px;
    position: relative;
    display: block;
}

.news>a.on span {
    color: #333;
}

.news>a.on:after {
    right: 1.5rem;
    top: 2.5rem;
    left: auto;
}

.news>a span {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    color: #999;
}

.news>a label {
    color: #BDBDBD;
}

.news .news-info {
    position: absolute;
    height: 100%;
    background: #fff;
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    right: 0;
    left: 0;
    border-top: 1px solid #eaeaea;
}

.ticket .t-head {
    height: 4rem;
    line-height: 4rem;
}

.ticket .t-head a {
    margin-right: 1px;
    background: #fff;
}

.ticket .t-head .on span {
    color: #2791DA;
    border-bottom: 2px solid;
    padding-bottom: 1.1rem;
}

.ticket .t-ticket .arrows-right:before {
    top: 2rem;
    right: 2rem;
}

.ticket .b .t-ticket {
    position: relative;
    height: 5rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}

.ticket .t-list {
    margin: 1rem 0.5rem;
}

.ticket .t-list>a {
    display: block;
    margin-top: 0.8rem;
}

.ticket .b .t-icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: #ddd;
    border-radius: 50%;
    margin: 1rem;
}

.ticket .b .t-title {
    position: relative;
    left: 5rem;
    line-height: 4.5rem;
    margin-right: 5rem;
    font-size: 1.4rem;
}

.ticket .t-ticket.a:after {
    content: '';
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: -.5rem;
    top: 0;
}

.ticket .a a {
    padding: 1.5rem 1rem;
    position: relative;
}

.ticket .a a,
.ticket .a a:before {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px 4px 0 0;
}

.ticket .t-ticket-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: .5rem;
    left: .1rem;
    width: 100%;
    height: 5px;
    background: url(../images/dzj-top.png) no-repeat;
    background-size: cover;
}

.ticket .t-ticket-item:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -.35rem;
    left: .3rem;
    width: 98%;
    height: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    background-size: cover;
    z-index: 2;
}

.ticket .td-top {
    position: relative;
    font-size: 1rem;
    margin-bottom: .8rem;
    font-size: 1.2rem;
}

.ticket .indate {
    font-size: 1rem;
}

.ticket .td-name {
    position: relative;
    margin-right: 4rem;
    left: 0;
}

.ticket .td-num {
    position: absolute;
    top: 0;
    right: 0;
    color: #FF5340;
}

.ticket .tn-info {
    margin: 0 .5rem;
}

.t-list-info>a:after {
    content: '';
    display: block;
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../images/icon-ewm.png) no-repeat;
    background-size: cover;
    right: 1.2rem;
    top: 1.6rem;
    opacity: .8;
}

.ticket .tn-info,
.tn-info .td-num,
.ticket .indate {
    color: #999;
}

.ticket .t-balance {
    text-align: center;
    padding: 2rem 0 0 0;
}

.ticket .t-bal {
    color: #999;
    font-size: 1rem;
}

.ticket .t-num {
    font-size: 3rem;
    padding: 1rem 0;
}

.ticket .t-debit-c {
    border-top: 1px solid #f3f3f3;
}

.ticket .t-indate {
    color: #999;
    margin-bottom: 1rem;
}

.form-row {
    padding: 0 1rem;
    background: #fff;
    margin: 1rem 0;
    line-height: 2rem;
}

.form-row .form-text {
    display: inline-block;
}

.form-row .clear_val {
    border-radius: 50%;
    display: block;
    width: 2rem;
    height: 2rem;
    background: #ccc;
    position: relative;
}

.clear_val:before,
.clear_val:after {
    content: '';
    height: 2px;
    width: 12px;
    display: block;
    background: #ffffff;
    position: absolute;
    top: 9px;
    left: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.clear_val:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.p-col {
    margin: 1rem;
}

.p-col a {
    color: #539ffc;
}

.p-col.center {
    text-align: center;
}

.msg-box {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.52);
    z-index: 99999;
}

.msg-box .msg-box-inner.on {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.msg-box .msg-box-inner {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 10%;
    padding: 0;
    width: 80%;
    background-color: #FFF;
    border-radius: 6px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 380px, 0);
    transform: translate3d(0, 380px, 0);
    -webkit-transition: -webkit-transform 0.425s cubic-bezier(0.4, 0.6, 0.05, 1);
    transition: transform 0.425s cubic-bezier(0.4, 0.6, 0.05, 1);
}

.msg-box-head {
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    background: #fafafa;
    margin: 0 1rem;
    color: #2791DA;
}

.msg-box .code-img {
    width: 15rem;
    height: 12rem;
    margin: 0 auto;
    background: #ececec;
}

.msg-box .code-text {
    padding: 1rem;
    font-size: 1rem;
}

.msg-box .msg-box-body {
    padding: 2rem;
    text-align: center;
}

.tinfo-foot {
    text-align: center;
    color: #999999;
}

.tinfo-foot a {
    color: #999;
    padding: 1rem 0.2rem;
}

.page .full-bg .qrcode {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 230px;
    height: 230px;
    background: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
}

.c-edit {
    position: fixed;
    height: 3.5rem;
    line-height: 3.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.c-edit .edit-off {
    border-right: 1px solid #F6F6F9
}

.c-edit .edit {
    color: #2791DA;
}


/***********常用地址*************/

.usual-info {
    margin-bottom: 5rem;
}

.address-info,
.address-action {
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0.8rem 1.2rem;
}

.address-action>div {
    width: 50%;
    float: left;
}

.address-info p {
    font-size: 1.4rem;
    color: #333333;
    letter-spacing: -0.39px;
    padding: 0.5rem 0;
}

.address-info p.info {
    overflow: hidden;
}

.address-info p span {
    display: inline-block;
}

.set-default {
    line-height: 3rem;
    position: relative;
}

.set-default i {
    display: inline-block;
    width: 1.45rem;
    height: 1.45rem;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    position: relative;
    top: 3px;
    margin-right: 0.4rem;
}

.set-default.active i:before {
    content: '';
    border-radius: 1rem;
    display: block;
    width: 0.65rem;
    height: 0.65rem;
    background: #2791DA;
    top: 0.3rem;
    left: 0.28rem;
    position: absolute;
}

.set-action .btnb {
    border: 1px solid #CCCCCC;
    background: #fff;
    border-radius: 2px;
    height: 3rem;
    line-height: 3rem;
    color: #333;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    padding: 0 1rem;
    float: right;
}

.set-action .btnb:last-child {
    margin-right: 0.5rem;
}

.usual-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4.4rem;
    text-align: center;
    line-height: 4.4rem;
    background: #fff;
    border-top: 1px solid #E8E8E8;
}

.usual-footer a {
    font-size: 14px;
    color: #2791DA;
    letter-spacing: -0.34px;
    display: block;
    width: 100%;
}

.use-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    top: 1.2rem;
}

.i-condition {
    background-image: url('../images/icon-use.png');
}

.i-shop {
    background-image: url('../images/icon-shop.png');
}

p.use-info {
    line-height: 2rem;
    color: #666666;
    letter-spacing: -0.34px;
}