<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/tronkerWeb/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/tronkerWeb/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="/tronkerWeb/css/animate.min.css" rel="stylesheet">
    <link href="/tronkerWeb/css/style.min.css?v=4.1.0" rel="stylesheet">
</head>

<body>
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <h1 class="">主页示例二</h1>
            <hr>
        </div>
    </div>
    <script src="/tronkerWeb/js/plugins/require.min.js"></script>
    <script src="/tronkerWeb/js/config.js"></script>
    <script>
        require(['views/test2']);
    </script>
</body>

</html>