<%= htmlWebpackPlugin.options.language %>
  <%= htmlWebpackPlugin.options.session %>
    <%= htmlWebpackPlugin.options.include %>
      <!DOCTYPE html>
      <html lang="en">

      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="keywords" content="" />
        <meta name="description" content="">
        <link rel="shortcut icon" href="favicon.ico">
        <link href="Resources/h5/dist/css/global.css" rel="stylesheet" type="text/css" />
        <link href="Resources/h5/dist/css/va.css" rel="stylesheet" type="text/css" />
        <link href="Resources/h5/dist/css/profile.css" rel="stylesheet" type="text/css" />
        <link href="Resources/h5/dist/css/view/common.css" rel="stylesheet" type="text/css" />
        <title>卡盟</title>
      </head>

      <body>
        <div id="app"></div>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=Vy2K4DMngY2m1pj6uKT96wxpNqwCsZsU&v=1.0"></script>
      </body>

      </html>