     <%if(data && data.length>0){%>
    <%for(var i=0;i<data.length;i++){%>
    <%var dataSencond=data[i].menulist;%>
        <li class="<%=i==0?'active':''%>">
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label"><%=data[i].menuName%></span>
                            <span class="fa arrow"></span>
                        </a>
      <%if(dataSencond && dataSencond.length>0){%>
                        <ul class="nav nav-second-level">
                           <%for(var j=0;j<dataSencond.length;j++){%>
                            <li>
                                <a class="J_menuItem" href="<%=dataSencond[j].Url%>" data-index="0"><%=dataSencond[j].menuName%></a>
                            </li>
                             <%}%>
                        </ul>
          <%}%>
                    </li>
                    <%}%>
                <%}%>